src/main/mule/build.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8d3f0e97-d172-4191-8fd7-e0bd91882a35" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="buildFlow" doc:id="5120d248-77ec-41f5-ac18-d319c6141b28" >
		<http:listener doc:name="Listener" doc:id="ec9f5c45-9cd5-457f-bd70-0f5607bfe395" config-ref="HTTP_Listener_config" path="/build"/>
		<set-payload value='#["Hi Guys"]' doc:name="Set Payload" doc:id="309b68e2-e9f0-41d7-8bba-0ba1832bbd2b" />
	</flow>
</mule>
